<html>
	<head>
		<meta charset="utf-8"/>
		<title>Welcome to Instagram</title>
		<link href="/style/style.css" rel="stylesheet" type="text/css">
	
	</head>
		
	<body>
		{% if user %}
		
	    <div class="navbar">
	        <a href="/">Home</a>
	        
	        <a href="/profile?user_key={{logedin_user.key.urlsafe()}}">My Profile</a>

	        <div class="search-container">
			    <form action="/search" method="get">
			      <input type="text" placeholder="Search.." name="search">
			      <button type="submit" value="Submit">Submit</button>
			    </form>
			  </div>
	        
	        <div class="topnav-right">
	            <p class='user_email'>{{ logedin_user.email_address }}</p>
	            <a class='logout' href='{{ url }}'>{{ url_string }}</a>
	    </div>
	    </div>
		
		    
		    
		    

	    	<div class="content_body">
			<h4>Search Result:</h4>
			{% if search_output %}
			{% for i in search_output %}
			  
			  <a href="/profile?user_key={{i.key.urlsafe()}}">{{i.email_address}}</a>
			 

			  <br/>
			  <br/>
			 {% endfor %}
			 {% else %}
			 <p>No match found</p>
			 {% endif %}

			</div>

		
		  
		{% else %}
			<!-- login -->
		    
		    <div class="new">

            <h1>Instagram</h1>
            <h4> Please login to continue</h4><br/>
            <a class='login_btn' href='{{ url }}'>{{ url_string }}</a>
            </div>
            
		
		{% endif %}
		
		


	
		
	</body>

</html>